[submodule "third_party/pybind11"]
	path = third_party/pybind11
	url = https://github.com/northwolf521/pybind11.git
	branch = v2.3
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/northwolf521/googletest.git
